<div class="page-content">
    <main>
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header">
                    <div class = "page-header-image" style="background:url(../../../assets/images/header.jpeg)">
                        <div class="d-flex justify-content-center container">
                            <div class="content-center">
                                <div class = 'profile-name h2 title' data-aos="fade-up-right" data-aos-duration="3000">Vijay Kumar K V R</div>
                                <div class = 'profile-title h3 title' data-aos="fade-up-left" data-aos-duration="3000">Full Stack Developer</div>
                                <div class = 'profile-contact-link' >
                                    <!-- data-aos="zoom-in" data-aos-duration="2000" -->
                                    <ul>
                                        <li>
                                            <a class="contact-link" href="#"> <fa-icon [icon]="twitter"></fa-icon></a>   
                                        </li>
                                        <li>
                                            <a class="contact-link" href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>  
                                        </li>
                                        <li>
                                            <a class="contact-link" href="#"><fa-icon [icon]="faGitHub"></fa-icon></a>  
                                        </li>
                                      </ul>
                                </div>
                            </div> 
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container about-container">
                <div >
                    <div class="row card about-card">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card-body">
                                    <div class="title h4 mt-0">About Me</div>
                                    <div class="about" data-aos="zoom-in" data-aos-duration="3000">
                                        <p>
                                            Since my childhood, I always had the passion for learning new things,
                                            exporing new opportunities. Despite started my career as a QA Enginner,
                                            but my thirst towards learning and building new things hasn't stopped.
                                        </p>
                                        <p>
                                            I have a total experience 6+ years in software industry. Currently, working
                                            as a full stack Developer in a product based organisation.
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card-body">
                                    <div class="title h4">Basic Information</div>
                                    <div class="basic-info" data-aos="zoom-in" data-aos-duration="3000">
                                        <div class="row">
                                            <div class="col-lg-6">Name</div>
                                            <div class="col-lg-6">K.V.R.VIJAY KUMAR</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">Date Of Birth</div>
                                            <div class="col-lg-6">07 January, 1994</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">Languages Known</div>
                                            <div class="col-lg-6">Telugu, English, Hindi</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6" >Place</div>
                                            <div class="col-lg-6" >Hyderabad</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
